* {
  font-family: "Inter", sans-serif;
}

html,
body {
  background-color: #e4e8f6;
}

.search {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15%;
}

.search-box {
  width: 732px;
  height: 412px;
  background-color: #ffffff;
  border-radius: 15px;
  box-shadow: 0px 35px 35px -15px rgba(61, 78, 137, 0.21);
}

.search-menu {
  display: flex;
  margin-top: 50px;
}

.menu-button {
  background-color: #ffffff;
  border: none;
  cursor: pointer;
  padding: 0 0 45px 0;
  margin-right: 30px;
  font-size: 16px;
  color: #080a2b;
  opacity: 0.5;
  font-weight: 300;
}

.menu-button:first-child {
  margin-left: 60px;
}

.menu-button:hover,
.menu-button:active,
.menu-button:focus {
  font-weight: 500;
  color: #080a2b;
  border-bottom: 3px solid black;
  z-index: 1;
  opacity: unset;
  padding: 0 0 42px 0;
}

.search-input {
  width: 732px;
  height: 302px;
  background-color: #f4f6fd;
  border-radius: 0px 0px 15px 15px;
  border-radius: 0px 0px 15px 15px;
  position: relative;
  top: -3px;
  border-top: 3px solid #e4e8f6;
}

.title {
  display: flex;
  margin: 35px 0 8px 0;
}

.title > p {
  margin: unset;
}

.title > p:first-child {
  margin-right: 272px;
}

.input-field {
  display: flex;
  flex-direction: column;
  width: 612px;
  margin-left: 60px;
}

.inputs {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: #ffffff;
  box-shadow: 0px 14px 18px -9px rgba(17, 42, 131, 0.1);
  border-radius: 5px;
  width: 612px;
  height: 79px;
}

.input {
  display: flex;
  align-items: center;
}

input {
  border: none;
  margin-left: 10px;
  font-size: 18px;
}

input:focus {
  outline: none;
}

.searchButton {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 612px;
  margin: 50px 0 50px 60px;
}

.radioText {
  display: flex;
  justify-content: center;
  align-items: center;
}

.radioText > p {
  margin: unset;
  margin-left: 15px;
  font-size: 18px;
}

.inputRadio {
  margin: unset;
  width: 30px;
  height: 30px;
  background: #ffffff;
  border: 2px solid #959fc2;
  box-sizing: border-box;
  box-shadow: 0px 14px 18px -9px rgba(17, 42, 131, 0.1);
  border-radius: 5px;
}

.search-button {
  color: #ffffff;
  font-size: 18px;
  width: 194px;
  height: 62px;
  left: 912px;
  top: 694px;
  background: #000000;
  border-radius: 5px;
}
