*{
    font-family: 'Inter', sans-serif;
}

html, body {
    background-color: #E4E8F6;
}

.search{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20%;
}

.search-box{
    width: 732px;
    height: 412px;
    background-color: #FFFFFF;
    border-radius: 15px;
} 

.search-menu {
    display: flex;
    margin-top: 50px;
}

button {
    background-color: #FFFFFF;
    border: none;
    cursor: pointer;
    padding: 0 0 45px 0;
    margin-right: 30px;
    font-size: 16px;
    color: #080A2B;
    opacity: 0.5;
    font-weight: 300;
}

button:first-child{
    margin-left: 60px;
}

button:hover, button:active, button:focus {
    font-weight: 500;
    color: #080A2B;
    border-bottom: 3px solid black;
    z-index: 1;
    opacity: unset;
}

.search-input{
    width: 732px;
    height: 302px;
    background-color: #F4F6FD;
    border-radius: 0px 0px 15px 15px;
    border-radius: 0px 0px 15px 15px;
    position: relative;
    top: -3px;
    border-top: 3px solid #E4E8F6;
}

